@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf') format("truetype");
  font-weight:  bold;
  font-style: normal;
}

    body {
      font-family: 'Poppins', sans-serif;
    }

    .title {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.025em;
    color: #1F1F1F;
    flex: none;
    order: 0;
    flex-grow: 0;
    }

    .subtitle{
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    color: #8C8C8C;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .ImageButtonBoxStyle{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 350px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 1;
    }  

    .RelowButtonBoxStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 40px;
    background: linear-gradient(90deg, #2A49CE 0.14%, #243EAF 52.23%, #1E3492 100.14%);
    border-radius: 3px;
    flex: none;
    order: 0;
    }

      @media screen and (min-width: 425px) {
        logosize {
          color: red;
        }
      }